<div class="download">
  <button (click)="download()">Download</button>
  <input id="file" type="file" (change)="upload($event)"/>
</div>

<header></header>

<div style="font-size: 10px; text-align: center">
  <div class="row">
    <div class="col-xs-7">
      <div class="row">
        <div class="col-xs-6">
          <abilities></abilities>
        </div>
        <div class="col-xs-6">
          <hp></hp>
        </div>
      </div>
    </div>
    <div class="col-xs-5">
      <skills class="skillTable"></skills>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7">
      <ac></ac>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7">
      <saves></saves>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7">
      <attacks></attacks>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7">
      <weapons></weapons>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7">
      <armor></armor>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7">
      <shield></shield>
    </div>
  </div>
</div>
