<div class="row">
    <div class="col-xs-5">
        <div class="row">
            <div class="col-xs-3 col-xs-offset-3"><label class="text-uppercase">Total</label></div>
            <div class="col-xs-3 col-xs-offset-2"><label class="text-uppercase">Armor Bonus</label></div>
        </div>
    </div>
    <div class="col-xs-7">
        <div class="row">
            <div class="col-xs-2"><label class="text-uppercase">Shield Bonus</label></div>
            <div class="col-xs-2"><label class="text-uppercase">Dex Modifier</label></div>
            <div class="col-xs-2"><label class="text-uppercase">Wis Modifier</label></div>
            <div class="col-xs-2"><label class="text-uppercase">Size Modifier</label></div>
            <div class="col-xs-2"><label class="text-uppercase">Natural Armor</label></div>
            <div class="col-xs-2"><label class="text-uppercase">Misc Modifier</label></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-5">
        <div class="row">
            <div class="col-xs-3"><input type="text" value="AC" class="form-control input-sm inverse"/></div>
            <div class="col-xs-3"><input type="text" readonly value="{{getAC()}}" class="form-control input-sm"/></div>
            <div class="col-xs-2"><input type="text" readonly value="10" class="form-control input-sm"/></div>
            <div class="col-xs-3"><input type="text" readonly value="" class="form-control input-sm"/></div>
        </div>
    </div>
    <div class="col-xs-7">
        <div class="row">
            <div class="col-xs-2"><input type="text" readonly value="" class="form-control input-sm"/></div>
            <div class="col-xs-2 dex"><input type="text" readonly value="{{charService.getAbilityModifier(dex)}}" class="form-control input-sm"/></div>
            <div class="col-xs-2 wis"><input type="text" readonly value="{{getWisdomModifier()}}" class="form-control input-sm"/></div>
            <div class="col-xs-2"><input type="text" value="" class="form-control input-sm"/></div>
            <div class="col-xs-2"><input type="text" value="" class="form-control input-sm"/></div>
            <div class="col-xs-2"><input type="text" value="" class="form-control input-sm"/></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-5">
        <div class="row">
            <div class="col-xs-3"><input type="text" value="FF" class="form-control input-sm inverse"/></div>
            <div class="col-xs-3"><input type="text" readonly value="{{getFF()}}" class="form-control input-sm"/></div>
        </div>
    </div>
    <div class="col-xs-7">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-5">
                <input type="text" value="Damage Reduction" class="form-control input-sm inverse"/>
            </div>
            <div class="col-xs-2"><input type="text" [(ngModel)]="charService.getChar().dr" class="form-control input-sm"/></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-5">
        <div class="row">
            <div class="col-xs-3"><input type="text" value="T" class="form-control input-sm inverse"/></div>
            <div class="col-xs-3"><input type="text" readonly value="{{getTouch()}}" class="form-control input-sm"/></div>
        </div>
    </div>
    <div class="col-xs-7">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-5">
                <input type="text" value="Spell Resistance" class="form-control input-sm inverse"/>
            </div>
            <div class="col-xs-2"><input type="text" [(ngModel)]="charService.getChar().sr" class="form-control input-sm"/></div>
        </div>
    </div>
</div>