<div class="row">
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-3">
        <input type="text" id="charName" class="form-control input-sm" [(ngModel)]="charService.getChar().name"/>
        <label for="charName" class="text-uppercase">Character Name</label>
      </div>

      <div class="col-xs-2">
        <select type="text" id="class1" class="form-control input-sm"
                [(ngModel)]="charService.getChar().classes.class1.name">
          <option *ngFor="let charClass of classes" value="{{charClass.getName()}}">{{charClass.getName()}}</option>
        </select>
        <label for="class1" class="text-uppercase">Class</label>
      </div>
      <div class="col-xs-1">
        <select id="class1Level" class="form-control input-sm"
                [(ngModel)]="charService.getChar().classes.class1.level">
          <option value="0"></option>
          <option *ngFor="let level of levels" value="{{level}}">{{level}}</option>
        </select>
        <label for="class1Level" class="text-uppercase">Level</label>
      </div>

      <div class="col-xs-2">
        <input type="text" id="alignment" class="form-control input-sm" [(ngModel)]="charService.getChar().alignment"/>
        <label for="alignment" class="text-uppercase">Alignment</label>
      </div>

      <div class="col-xs-4">
        <input type="text" id="deities" class="form-control input-sm" [(ngModel)]="charService.getChar().deities"/>
        <label for="deities" class="text-uppercase">Deities</label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <div class="col-xs-6">
          <input type="text" id="race" class="form-control input-sm" [(ngModel)]="charService.getChar().race"/>
          <label for="race" class="text-uppercase">Race</label>
        </div>

        <div class="col-xs-6">
          <select id="size" class="form-control input-sm" [(ngModel)]="charService.getChar().size">
            <option *ngFor="let size of sizes" value="{{size.getName()}}">{{size.getDescription()}}</option>
          </select>
          <label for="size" class="text-uppercase">Size</label>
        </div>
      </div>

      <div class="col-xs-2">
        <select type="text" id="class2" class="form-control input-sm"
                [(ngModel)]="charService.getChar().classes.class2.name">
          <option *ngFor="let charClass of classes" value="{{charClass.getName()}}">{{charClass.getName()}}</option>
        </select>
        <label for="class2" class="text-uppercase">Class</label>
      </div>
      <div class="col-xs-1">
        <select id="class2Level" class="form-control input-sm"
                [(ngModel)]="charService.getChar().classes.class2.level">
          <option value="0"></option>
          <option *ngFor="let level of levels" value="{{level}}">{{level}}</option>
        </select>
        <label for="class2Level" class="text-uppercase">Level</label>
      </div>

      <div class="col-xs-2">
        <input type="text" id="sex" class="form-control input-sm" [(ngModel)]="charService.getChar().sex"/>
        <label for="sex" class="text-uppercase">Sex</label>
      </div>

      <div class="col-xs-2">
        <input type="text" id="eyes" class="form-control input-sm" [(ngModel)]="charService.getChar().eyes"/>
        <label for="eyes" class="text-uppercase">Eyes</label>
      </div>

      <div class="col-xs-2">
        <input type="text" id="heir" class="form-control input-sm" [(ngModel)]="charService.getChar().heir"/>
        <label for="heir" class="text-uppercase">Heir</label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <input type="text" id="playerName" class="form-control input-sm" [(ngModel)]="charService.getChar().player"/>
        <label for="playerName" class="text-uppercase">Player Name</label>
      </div>

      <div class="col-xs-2">
        <select type="text" id="class3" class="form-control input-sm"
                [(ngModel)]="charService.getChar().classes.class3.name">
          <option *ngFor="let charClass of classes" value="{{charClass.getName()}}">{{charClass.getName()}}</option>
        </select>
        <label for="class3" class="text-uppercase">Class</label>
      </div>
      <div class="col-xs-1">
        <select id="class3Level" class="form-control input-sm"
                [(ngModel)]="charService.getChar().classes.class3.level">
          <option value="0"></option>
          <option *ngFor="let level of levels" value="{{level}}">{{level}}</option>
        </select>
        <label for="class3Level" class="text-uppercase">Level</label>
      </div>

      <div class="col-xs-2">
        <input type="text" id="age" class="form-control input-sm" [(ngModel)]="charService.getChar().age"/>
        <label for="age" class="text-uppercase">Age</label>
      </div>

      <div class="col-xs-2">
        <input type="text" id="height" class="form-control input-sm" [(ngModel)]="charService.getChar().height"/>
        <label for="height" class="text-uppercase">Height</label>
      </div>

      <div class="col-xs-2">
        <input type="text" id="weight" class="form-control input-sm" [(ngModel)]="charService.getChar().weight"/>
        <label for="weight" class="text-uppercase">Weight</label>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="download" style="position: absolute; right: -40px; z-index: 100;">
      <label class="glyphicon glyphicon-camera" for="avatarUpload"
             style="font-size: 30px; color: #00bcd4;">
        <input id="avatarUpload" type="file" (change)="changeAvatar($event)" style="display: none" />
      </label>
    </div>
    <img class="img-responsive avatar" src="data:image/png;base64,{{charService.getChar().avatar}}">
  </div>
</div>
