<div *ngFor="#weapon of weapons" class="weapon">
    <div class="row header">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">
                    <input class="form-control input-sm text-uppercase inverse" value="Weapon"/>
                </div>
                <div class="col-xs-2">
                    <label class="text-uppercase">Attack Bonus</label>
                </div>
                <div class="col-xs-2">
                    <label class="text-uppercase">Damage</label>
                </div>
                <div class="col-xs-2">
                    <label class="text-uppercase">Critical</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">
                    <input class="text-uppercase form-control input-sm" value=""/>
                </div>
                <div class="col-xs-2">
                    <input class="text-uppercase form-control input-sm" value=""/>
                </div>
                <div class="col-xs-2">
                    <input class="text-uppercase form-control input-sm" value=""/>
                </div>
                <div class="col-xs-2">
                    <input class="text-uppercase form-control input-sm" value=""/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-2">
                    <label class="text-uppercase">Range</label>
                </div>
                <div class="col-xs-2">
                    <label class="text-uppercase">Weight</label>
                </div>
                <div class="col-xs-2">
                    <label class="text-uppercase">Type</label>
                </div>
                <div class="col-xs-2">
                    <label class="text-uppercase">Size</label>
                </div>
                <div class="col-xs-4">
                    <label class="text-uppercase">Special Properties</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-2">
                    <input class="text-uppercase form-control input-sm" value=""/>
                </div>
                <div class="col-xs-2">
                    <input class="text-uppercase form-control input-sm" value=""/>
                </div>
                <div class="col-xs-2">
                    <input class="text-uppercase form-control input-sm" value=""/>
                </div>
                <div class="col-xs-2">
                    <input class="text-uppercase form-control input-sm" value=""/>
                </div>
                <div class="col-xs-4">
                    <input class="text-uppercase form-control input-sm" value=""/>
                </div>
            </div>
        </div>
    </div>
</div>