<div class="row">
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-3">
                <input type="text" id="charName" class="form-control input-sm"/>
                <label for="charName" class="text-uppercase">Character Name</label>
            </div>

            <div class="col-xs-3">
                <input type="text" id="class1" class="form-control input-sm"/>
                <label for="class1" class="text-uppercase">Class (Level)</label>
            </div>

            <div class="col-xs-2">
                <input type="text" id="alignment" class="form-control input-sm"/>
                <label for="alignment" class="text-uppercase">Alignment</label>
            </div>

            <div class="col-xs-4">
                <input type="text" id="deities" class="form-control input-sm"/>
                <label for="deities" class="text-uppercase">Deities</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <input type="text" id="race" class="form-control input-sm"/>
                <label for="race" class="text-uppercase">Race</label>
            </div>

            <div class="col-xs-1">
                <input type="text" id="vision" class="form-control input-sm"/>
                <label for="vision" class="text-uppercase">Vision</label>
            </div>

            <div class="col-xs-3">
                <input type="text" id="class2" class="form-control input-sm"/>
                <label for="class2" class="text-uppercase">Class (Level)</label>
            </div>

            <div class="col-xs-2">
                <input type="text" id="sex" class="form-control input-sm"/>
                <label for="sex" class="text-uppercase">Sex</label>
            </div>

            <div class="col-xs-2">
                <input type="text" id="eyes" class="form-control input-sm"/>
                <label for="eyes" class="text-uppercase">Eyes</label>
            </div>

            <div class="col-xs-2">
                <input type="text" id="heir" class="form-control input-sm"/>
                <label for="heir" class="text-uppercase">Heir</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <input type="text" id="playerName" class="form-control input-sm"/>
                <label for="playerName" class="text-uppercase">Player Name</label>
            </div>

            <div class="col-xs-3">
                <input type="text" id="class3" class="form-control input-sm"/>
                <label for="class3" class="text-uppercase">Class (Level)</label>
            </div>

            <div class="col-xs-2">
                <input type="text" id="age" class="form-control input-sm"/>
                <label for="age" class="text-uppercase">Age</label>
            </div>

            <div class="col-xs-2">
                <input type="text" id="height" class="form-control input-sm"/>
                <label for="height" class="text-uppercase">Height</label>
            </div>

            <div class="col-xs-2">
                <input type="text" id="weight" class="form-control input-sm"/>
                <label for="weight" class="text-uppercase">Weight</label>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <img class="img-responsive avatar"  src="app/resources/imgs/sargon.jpg">
    </div>
</div>
