<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-2"><p class="text-uppercase">Total</p></div>
    <div class="col-xs-2"><p class="text-uppercase">Ability Modifier</p></div>
    <div class="col-xs-2"><p class="text-uppercase">Misc Modifier</p></div>
</div>
<div class="row">
    <div class="col-xs-4"><input type="text" value="Initiative" class="form-control input-sm inverse"/></div>
    <div class="col-xs-2"><input type="text" value="" class="form-control input-sm"/></div>
    <div class="col-xs-2 dex"><input type="text" value="" class="form-control input-sm"/></div>
    <div class="col-xs-2"><input type="text" value="" class="form-control input-sm"/></div>
</div>
<div class="row">
    <div class="col-xs-4"><input type="text" value="Speed" class="form-control input-sm inverse"/></div>
    <div class="col-xs-4"><input type="text" value="" class="form-control input-sm"/></div>
    <div class="col-xs-2"><input type="text" value="" class="form-control input-sm"/></div>
</div>
<div class="row">
    <div class="col-xs-4"><input type="text" value="HP" class="form-control input-sm inverse"/></div>
    <div class="col-xs-2"><input type="text" value="" class="form-control input-sm"/></div>
    <div class="col-xs-4"><input type="text" value="" class="form-control input-sm"/></div>
</div>
<div class="row">
    <div class="col-xs-4"><input type="text" value="XP" class="form-control input-sm inverse"/></div>
    <div class="col-xs-6"><input type="text" value="" class="form-control input-sm"/></div>
</div>
<div class="row">
    <div class="col-xs-6"><input type="text" value="Base Attack Bonus" class="form-control input-sm inverse"/></div>
    <div class="col-xs-4"><input type="text" value="" class="form-control input-sm"/></div>
</div>